.center {
    width: 45%;
    margin-top: 236px;
}
.margin {
    width: 45%;
    margin-top: 20px;
}
.w45p{
    width: 45%;
}
.cm{
    text-align:center;
    margin-top: 25px;
}
.p{
    margin-left: 5px;
}
